<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ModVe</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schuAnz">
                <span class="oi oi-people" aria-hidden="true"></span> Schüler anzeigen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schuAnl">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Schüler +/-
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lehAnz">
                <span class="oi oi-person" aria-hidden="true"></span> Lehrer anzeigen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lehAnl">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Lehrer +/-
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modAnz">
                <span class="oi oi-book" aria-hidden="true"></span> Module anzeigen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modAnl">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Module +/-
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modZuAnz">
                <span class="oi oi-box" aria-hidden="true"></span> Modelzuordnung anzeigen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modZuAnl">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Modulzuordnung +/-
            </NavLink>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
